<div class="col-sm-3">
     <div class="panel panel-default">
      <div class="title"><%= fa_icon 'search' %> Filter Clubs</div>
      <div class="panel-body">
      </div>
    </div>
</div>
<div class="col-sm-7">
  
  <div class="clublistsearch">
Search Results <%= fa_icon 'caret-down' %>
</div>




     <% @clubs.each do |club| %>
        <ol class="clublist">

       
   
       
        <li class="clublistname"><%= club.name %></li>
       
        
         <li><%= fa_icon 'phone' %> <%= number_to_phone(club.phone, area_code: true) %></li>
        <li><%= club.address %></li>
        
      
        <li><%= link_to 'View Club', club, class: "btn btn-primary" %>
    
      </ol>
     
    <% end %>

  </div>

