<div class="col-sm-9">



    <% @clubs.each do |club| %>
      <ul>
        <li><%= club.name %></li>
        <li><%= club.address %></li>
        <li><%= link_to 'Show', club %></li>
        <li><%= link_to 'Edit', edit_club_path(club) %></li>
        <li><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>

  </div>

