<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @point.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @point.show %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
