<div class="col-sm-2">
  <div class="row section-body">
       
    <div class="col-sm-6">
  
      <div class="gravatar"> <%= current_user.email %> </div>
    </div>
    <div class="col-sm-6">
      <%= current_user.name %>
           </div>
    
  </div>
  <div class="row">
   <ul class="nav nav-pills nav-stacked sidebar">
    <li class="<%= 'active' if params[:controller] == 'welcome' %>"> <a href="/"><p class="sideoption">  <%= fa_icon 'home' %><span style="color:#c4c4c4;"> Home </span></p></a> </li>
    <li class="<%= 'active' if params[:controller] == 'events' %>"> <a href="/events"><h2 class="sideoption">  <%= fa_icon 'calendar-o' %><span style="color:#c4c4c4;"> Calendar </span></h2></a> </li>
    <li class="<%= 'active' if params[:controller] == 'clubs' %>"> <a href="/clubs"><h2 class="sideoption">  <%= fa_icon 'building-o' %><span style="color:#c4c4c4;"> Clubs </span></h2></a> </li>
    <li class="<%= 'active' if params[:controller] == 'points' %>"> <a href="/points"><h2 class="sideoption">  <%= fa_icon 'bar-chart-o' %><span style="color:#c4c4c4;"> Points Activity </span></h2></a> </li>
  </ul>
  <div class="section-header">
   Point Balance
 </div>
 <div class="section-body">
  <h4 class="point-balance">0</h4>
</div>
<div class="section-footer">
</div>
</div>
</div>



